.navbarItems {
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  z-index: 50;
  background: linear-gradient(89.4deg, rgba(194, 224, 251, 0.8) 32.23%, rgba(203, 249, 243, 0.8) 53.35%);
  backdrop-filter: blur(4px);

  display: flex;
  justify-content: right;
  align-items: center; 
  height: 70px;
}

.navMenu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 80px;
  list-style: none;
  width: 23px;
  justify-content: end;
  align-items: center;
  margin-right: 10%;
  margin-top: 23px;
}

.navLinks {
  display: inline-block;
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  text-align: center;
  letter-spacing: -0.02em;

  /* H4I National/Black */
  text-decoration: none;
  color: #333333;
  white-space: nowrap;
}

.navLinks:hover {
  color: #657788;
}

/* The dropdown container */
.dropdown {
  overflow: hidden;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  /* Note: backdrop-filter has minimal browser support */
}

/* Dropdown button */
.dropdown .dropdownButton {
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  border: none;
}

/* Dropdown content (hidden by default) */
.dropdownContent {
  opacity: 0%;
  transition: opacity 1s;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 20px;
  background: rgba(203, 249, 243, 0.8);
  backdrop-filter: blur(4px);
  margin-top: 30px;
}

/* Links inside the dropdown */
.dropdownContent .navLinks {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdownContent .navLinks:hover {
  color: #657788;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdownContent {
  display: block;
  z-index: 100;
  opacity: 100%;
  transition: opacity 2s;
}

.menuIcon {
  display: none;
}

.logo {
  position: absolute;
  right: 69.4%;
  top: 22.86%;
  bottom: 22.86%;
  margin-left: 0%;
}

.faBars {

  color: #0069CA;
}


@media screen and (max-width: 1000px){

  .navLinks{
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    /* identical to box height */

    text-align: center;
    letter-spacing: -0.02em;

    /* H4I National/Black */

    color: #333333;
    text-align: left;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .navMenu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position:absolute;
    top: 70%;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    padding: 3rem;
  }

  .navMenu.active {
    background: rgba(194,224,251,.7);
    background-size: cover;
    opacity: 1;
    left: 0;
    transition: all 0.5s ease;
    z-index: 500;
    display: flex;
    translate: scale(0);
    width: 100%;
    height: auto;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menuIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .faTimes{
    color: #0069CA;
  }

}
