
#sectionTitle {
    text-align: center;
  }
  
  /* .featuredProjectCards {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  } */
  
  @media screen and (min-width: 1000px){
  }
  
   .featuredProjectCards {
    margin-left: 10%;
    margin-right: 10%;
  } 
  
  .seeMore {
    text-align: center;
  }
  
  @media screen and (min-width: 1200px) {

    .featuredProjectCards {
      max-width: 1096px;
      margin-left: auto;
      margin-right: auto;
    }

  }

  .noProjectsMsg {
    text-align: center;
    color: #666;
    margin: 40px 0;
  }