@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Rubik');

.center {
  margin: auto;
  text-align: center;
}

h1 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #0069ca;
}

p {
  color: #333333;
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  size: 18px;
}

.bluebtn {
  background-color: #0069ca;
  color: #ffffff;
  border: none;
  height: 55px;
  width: 180px;
  border-radius: 100px;
  border-width: 0px;

  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;

  margin: 0 auto;
  display: block;
}

.bluebtn:hover {
  background-color: #6abfe6;
}

.bluebtn:focus,
.bluebtn:active {
  background-color: #808080;
}
