.NavbarItems {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: linear-gradient(89.4deg, rgba(194, 224, 251, 0.8) 32.23%, rgba(203, 249, 243, 0.8) 53.35%);
  backdrop-filter: blur(4px);

  display: flex;
  justify-content: right;
  align-items: center;
  height: 70px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 85px;
  list-style: none;
  width: 23px;
  justify-content: end;
  margin-right: 178px;
}

.nav-links {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.02em;

  /* H4I National/Black */
  text-decoration: none;
  color: #333333;
  white-space: nowrap;
}

.logo {
  position: absolute;
  left: 11.77%;
  right: 69.4%;
  top: 22.86%;
  bottom: 22.86%;
}
