.NavbarItems {
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  z-index: 50;
  background: linear-gradient(89.4deg, rgba(194, 224, 251, 0.8) 32.23%, rgba(203, 249, 243, 0.8) 53.35%);
  backdrop-filter: blur(4px);

  display: flex;
  justify-content: right;
  align-items: center;
  height: 70px;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 85px;
  list-style: none;
  width: 23px;
  justify-content: end;
  margin-right: 10%;
}

.nav-links {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.02em;

  /* H4I National/Black */
  text-decoration: none;
  color: #333333;
  white-space: nowrap;
}

.nav-links:hover {
  color: #657788;
}

.menu-icon {
  display: none;
}

.logo {
  position: absolute;
  right: 69.4%;
  top: 22.86%;
  bottom: 22.86%;
  margin-left: 0%;
}

.fa-bars {

  color: #0069CA;
}


@media screen and (max-width: 1000px){


  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    position:absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #0069CA;
    background-color: #0069CA;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 50000;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    translate: scale(0);
    float:right;
    
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times{
    color: #0069CA;
  }

}