@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Rubik');

.blueBG {
  z-index: -1;
  position: fixed;
  left: 0%;
  right: 0%;
  margin-top: 0%;
  width: 100%;
}
/*fix overlaym*/
.textOne {
  position: absolute;
  left: 9%;
  right: 48.81%;
  top: 23%;
  bottom: 86.36%;
  width: 550px;
  margin-left: 0%;
  /* Title */

  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.02em;
  text-align: left;

  /* H4I National/Black */

  color: #333333;
}

.hide {
  display: none;
}

.socialGoodSubText {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.02em;
  text-align: left;

  /* H4I National/Black */

  color: #0069ca;
}

.textTwo {
  position: absolute;
  left: 12.1%;
  right: 48.81%;
  top: 47%;
  bottom: 82.66%;
  width: 560px;
  margin-left: 0%;
  /* Header 2 */

  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-align: left;

  /* H4I National/Black */

  color: #333333;
}

.graphic {
  position: absolute;
  width: 380.05px;
  height: 352.73px;
  right: 183.95px;
  margin-right: 0%;
  top: 24%;

  /* H4I National/Blue */
}

.mintbtn {
  position: absolute;
  margin: 10px 10px 10px 10px;
  left: 11%;
  right: 48.81%;
  top: 63%;
  bottom: 0%;

  background-color: #80d2c8;
  color: #333333;
  border: none;
  height: 55px;
  width: 180px;
  border-radius: 100px;
  border-width: 0px;

  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;
}

.mintbtn:hover {
  background-color: #1ca74a;
}

.mintbtn:focus,
.mintbtn:active {
  background-color: #808080;
}

@media (max-width: 1400px){
  .blueBG{
    width: auto;
  }
}

@media (max-width: 1250px){
  .graphic{
    display:none;
  }
}

@media screen and (max-width: 1000px){
  
  .textOne{
    width:400px;
    height: 160px;
    left: 25%;
    top: -20%;
    transform: translate(0, -50%);

    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: grid;
    /* Header 1 */
    
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.02em;
  }

  .socialGoodSubText{
    /* Header 1 */
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.02em;
  }

  .textTwo {
    position: absolute;
    width: 300px;
    left: 0;
    right: 0;
    top: -20%;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: grid;
    margin: auto;

/* Header 2 */

    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -0.02em;
  }

  .mintbtn {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 9%;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: grid;
  }

  .blueBG {
    z-index: -1;
    position: absolute;
    left: 0%;
    right: 0%;
    width: auto;
    top: 0%;
    margin:auto;
  }
}

