@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&family=Rubik&display=swap');

p {
  font-family: 'Rubik';
  font-size: 18px;
  line-height: 21.33px;
  letter-spacing: -0.02em;
  color: #333333;
  white-space: pre-wrap;
  margin: 0;
  text-align: left;
}

h2 {
  font-family: 'Karla';
  font-size: 24px;
  letter-spacing: -0.02em;
  color: #333333;
  margin: 0;
  text-align: left;
}

.Footer {
  display: flex;
  gap: 122px;
  padding: 66px 190px 90px 174px;
}

.FooterInfo {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.FooterInfo a {
  color: #f2594b;
}

.FooterIcons {
  display: flex;
  gap: 32px;
}

.FooterColumns {
  display: flex;
  gap: 94px;
}

.FooterColumn {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.FooterColumn a {
  color: #657788;
  text-decoration: none;
}
