

.rightPane {
  width: calc(100% - 250px);
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  /* additional positioning for elements in member adding */
  padding-top: 20px;
}

/* .formControl {
  color: blue;
} */

.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  max-width: 600px;
  width: 100%;
  background-color: #f9f9f9;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formControl {
  flex: 1 1 calc(50% - 20px); /* Half-width input fields with a gap */
  min-width: 220px;
}

.fullWidth {
  grid-column: span 2;
}

.uploadSection {
  grid-column: span 2;
}

.submitButton {
  grid-column: span 2;
  align-self: center;
  justify-self: center;
}