@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Rubik');

#cardContainer {
  margin-top: 3vw;
  margin-bottom: 3vw;
  display: flex;
}

#cardImageContainer {
  flex: 0.35;
  border-color: #333333;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  display: flex;
  width: 300px;
  height: 200px;
  border-radius: 50px;
}

#cardTextContainer {
  flex: 0.65;
  left: 0;
  top: 0;
  margin-left: 2vw;
  max-height: 200px;
  height: 200px;
}

#cardHeadingContainer {
  display: flex;
}

#cardImage {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

#cardTitleContainer {
  flex: 0.7;
  text-align: left;
}

#cardTitle {
  font-family: 'Karla';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
}

#cardDateContainer {
  font-family: 'Karla';
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  letter-spacing: -0.02em;
  color: #333333;
  flex: 0.3;
  right: 0;
  top: 0;
}

#cardSummary {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #333333;
  max-height: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  padding-top: 2%;
  padding-bottom: 1%;
  text-align: left;
}

#cardLinkContainer {
  flex: 1;
  text-align: left;
}

#cardLink {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  color: #333333;
}

#cardLink:hover, #cardLink:focus {
  color: #0069ca;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
}
