
#headerDiv {
  margin: auto;
  text-align: center;
  margin-top: 220px;
  margin-bottom: 300px;
}

#title {
  text-align: center;
  margin-bottom: 60px;
}

#headerText {
  text-align: center;
}
