@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

#headerDiv {
  background-image: url(../../components/assets/backgrounds/apply_header.svg);
  background-size: cover;
  background-position: bottom;
  min-width: 100%;
  min-height: 810px;
}

#headerContent {
  padding-top: clamp(120px, 18vw, 224px);
}

#title {
  color: #333333;
  font-family: 'Karla';
  font-weight: 700;
  font-size: 50px;
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.02em;

  margin-bottom: 63px;
}

#headerText {
  color: #333333;
  font-family: 'Karla';
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.02em;

  margin: 0;
  padding: 0 22%;
}
