.navBarDiv {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 70px;
  top: 0;
}

#OurWorkPage {
  /* position: absolute; */
  justify-content: center;
}

.currentProjects {
  margin-top: -100px;
}

.pastProjects {
  padding: 0 10%;
}

.ScrollToTopButton {
  position: fixed;
  display: inline-block;
  right: 2%;
  bottom: 20%;
  z-index: 1;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  object-fit: fill;
}

.ScrollToTopButton .ScrollToTopButtonHover {
  display: none;
  left: 0;
  position: absolute;
  z-index: 99;
  object-fit: fill;
}

.ScrollToTopButton:hover .ScrollToTopButtonHover {
  display: inline;
}
