
#sectionTitle {
  text-align: center;
}

#searchbarWrapper {
  position: relative;
  display: flex;
  min-width: 100px;
  padding-bottom: 50px;
}

#searchIcon {
  position: absolute;
  top: 18px;
  right: 20px;
  width: 25px;
}

#clearIcon {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 25px;
  cursor: pointer;
  visibility: hidden;
}

#searchbar {
  border: 3px solid #657788;
  box-sizing: border-box;
  border-radius: 50px;
  font-family: 'Karla';
  height: 60px;
  width: 100%;
  padding: 2px 0px 2px 23px;
  background-color: #ffffff;
  justify-content: left;
}

#searchbar:hover, #searchbar:focus {
  background-color: #f5f5f5;
}

#projectsDisplay {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 12.5% 10%;
  max-width: 1120px;
  margin-left: auto;
  margin-right: auto;
}

.pastProjectsContainer {
  padding-top: 30px;
}

@media screen and (max-width: 800px){
  #projectsDisplay {
    margin-top: 20px;
    display: block;
  }
} 