
#cardContainer {
  align-items: center;
  justify-content: center;
  width: 25%;
  margin-bottom: 50px;
}

#cardImageContainer {
  border-color: #333333;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  border-radius: 50px;
  overflow: hidden;
  display: flex;
}

#cardImage {
  border-radius: 50px;
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

#cardTextContainer {
  max-height: 200px;
  width: 100%;
  overflow: hidden;
}

#cardTitleContainer {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
}

#cardTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
}

#cardDateContainer h3 {
  font-style: italic;
  width: 100%;
  text-align: left;
  overflow: hidden;
}

#cardLinkContainer {
  width: 100%;
  text-align: left;
  overflow: hidden;
}

#cardLink {
  line-height: 16px;
  color: #333333;
}

#cardLink:hover, #cardLink:focus {
  color: #0069ca;
  animation-timing-function: ease-out;
  animation-duration: 300ms;
}