@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Rubik');

#cardContainer {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  max-width: 1148px;
  justify-content: center;
  display: flex;
}

#cardImageContainer {
  flex: 0.35;
  border-color: #333333;
  justify-content: center;
  display: flex;
}

#cardTextContainer {
  flex: 0.6;
  margin-left: 3%;
}

#cardHeadingContainer {
  display: flex;
}

#cardImage {
  border-radius: 50px;
  max-width: 100%;
  height: auto;
}

#cardTitle {
  font-family: 'Karla';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #333333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex: 0.8;
}

#cardDate {
  font-family: 'Karla';
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  letter-spacing: -0.02em;
  color: #333333;
  flex: 0.2;
}

#cardSummary {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: -0.02em;
  color: #333333;
  max-height: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre-line;
  padding-top: 2%;
  padding-bottom: 1%;
}

#cardLink {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  color: #333333;
}

#cardLink:hover {
  color: #808080;
}
