#headerDiv {
  background-image: url(../../components/assets/backgrounds/apply_header.svg);
  background-size: cover;
  background-position: bottom;
  min-width: 100%;
  min-height: 810px;
}

#headerContent {
  padding-top: clamp(120px, 18vw, 224px);
}

#title {
  text-align: center;
  margin-bottom: 60px;
}

#headerText {
  text-align: center;
  margin: 0;
  padding: 0 22%;
}

@media screen and (min-width: 1200px) {
  #headerDiv {
    background-image: url(../../components/assets/backgrounds/apply_header_desktop.svg);
    min-height: 989px;
  }
}
