/* adjusting min-height so footer stays at the bottom of the page when zoomed out */
.nonprofitApply {
  min-height: calc(100vh - 815px);
}

.nonprofitApplyHeader p {
  text-align: center;
  margin: 0;

  padding: 0 11%;
}

.nonprofitApplyHeader h1 {
  text-align: center;
  margin: 0;
}

.nonprofitApplyHeader h2 {
  text-align: center;
  margin: 0;

  padding: 0 11%;
}

.nonprofitApplyHeader {
  background-image: url(../../components/assets/backgrounds/apply_header.svg);
  background-size: cover;
  min-width: 100%;
  height: 800px;
  margin-bottom: 300px;
}

.nonprofitApplyHeaderContent {
  padding-top: clamp(80px, 12vw, 150px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
}

.nonprofitApplyHeaderContent p {
  text-align: center;
}

.howToApply h2 {
  text-align: center;
  margin: 56px 0 42px;
}

.howToApply p {
  text-align: center;
  padding: 0 11%;
  margin: 0;
}

.howToApply {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orgLogo {
  height: 80px;
  width: 80px;
}

.applyButton {
  margin-top: 65px;
  text-align: center;
}

.faq {
  margin-top: 96px;
}

.footerDiv {
  margin-top: -50px;
}

@media screen and (min-width: 700px) {
  .carousel {
    margin-top: -200px;
  }

  .orgLogo {
    height: 200px;
    width: 200px;
  }
}

@media screen and (min-width: 1200px) {
  .nonprofitApplyHeader {
    background-image: url(../../components/assets/backgrounds/apply_header_desktop.svg);
  }

  .nonprofitApplyHeader p {
    padding: 0 21%;
  }

  .carousel {
    margin-top: -250px;
  }

  .howToApply h2 {
    margin: 145px 0 40px;
  }

  .howToApply p {
    padding: 0 21%;
  }

  .faq {
    margin-top: 110px;
  }

  .timelineStepText h2,
  p {
    text-align: left;
  }

  .footerDiv {
    margin-top: -420px;
  }
}
