.header {
  background: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.close {
  height: 0.5rem;
  margin: 16px 1.5rem 0 0;
  align-self: end;
  background: none;
  border: none;
  cursor: pointer;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.submit {
  font-size: 0.9rem;
  width: 70%;
  text-align: center;
  padding-top: 2rem;
}

.title {
  margin: 0;
  padding: 0;
  font-size: 1.3rem;
  color: black;
}

.error {
  height: 20px;
  margin: 0;
  padding: 5px 0 0 0;
  font-size: 0.8rem;
  color: red;
}

.email {
  width: 33vh;
  min-width: 180px;
  background: var(--color-grey);
  border-radius: 10px;
  border: 1px solid white;
  padding: 10px;
  outline: 1px solid gray;
}

.email:focus {
  border: 1px solid black;
}

.actions {
  width: 100%;
}

.actionsContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.resetButton {
  width: 20%;
  min-width: 180px;
  height: 35px;
  padding: 11px 0 11px 0;
  margin-top: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #80d2c8;
  font-weight: 500;
  font-size: 0.8rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.25s ease;
}

.resetButton:hover {
  cursor: pointer;
  background: #b9e5e0;
}
