.rightPane {
  width: calc(100% - 250px);
  height: 100%;
  float: right;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.formContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  margin-left: 40px;
}

.formControl {
  flex: 1 1 calc(50% - 20px); /* Half-width input fields with a gap */
  min-width: 220px;
}

.fullWidth {
  flex: 1 1 100%;
}

.avatarButton {
  width: fit-content;
  margin-top: 10px;
}

.submitButton {
  margin-top: 20px;
  width: 100%;
}
