
/* Styling for mobile first */

.Footer {
  position: relative;
  /* sizing background image. Use mobile background for desktop too. */
  background-image: url(../../components/assets/footer/footer_background_mobile.svg);
  background-size: cover;
  min-width: 100%;
  min-height: 922px;
  z-index: 0;
}

.FooterContent {
  position: absolute;
  bottom: 110px;
  padding: 0px 5vh;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.FooterInfo {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.FooterInfo a {
  color: #f2594b;
}

.FooterInfo:hover a {
  color: #f2594b;
}

.WordMark {
  width: 224px;
  height: 30px;
}

.FooterIconsMobile {
  display: flex;
  gap: 32px;
}

.FooterIconsDesktop {
  display: none;
}

.SocialIcon img {
  width: 30px;
  height: 30px;
}

.FooterColumns {
  display: flex;
  flex-direction: column;
  gap: 5vw;
}

.FooterColumn {
  display: flex;
  flex-direction: column;
  gap: 18px;
  white-space: nowrap;
}

.FooterColumn a {
  color: #657788;
  text-decoration: none;
}

/* Desktop Styling */
@media screen and (min-width: 1200px) {
  .Footer {
    /* adjust height of background */
    min-height: 815px;
  }

  .FooterContent {
    padding: 0px 24vh;
    gap: 100px;
    flex-direction: row;
  }

  .WordMark {
    width: 300px;
    height: 40px;
  }

  .FooterColumns {
    flex-direction: row;
  }

  .FooterInfo a {
    transition: color 300ms ease-out;
  }

  .FooterInfo a:hover {
    color: #0069ca;
  }

  .FooterColumn a {
    transition: color 300ms ease-out;
  }

  .FooterColumn a:hover {
    color: #0069ca;
  }

  .FooterIconsDesktop {
    display: flex;
    gap: 32px;
  }

  .FooterIconsMobile {
    display: none;
  }

  .SocialIcon g g rect {
    transition: fill 300ms ease-out;
  }

  .SocialIcon:hover g g rect {
    fill: #c2e0fb;
  }

  .SocialIcon svg {
    width: 40px;
    height: 40px;
  }
}
