

.rightPane {
  width: calc(100% - 250px);
  height: 100%;
  float: right;
  display: flex;
  flex-direction: column;
  /* additional positioning for elements in member adding */
  padding-top: 20px;
}

/* .rightPane > * {
  width: 100%;
} */

/* .formControl {
  color: blue;
} */

/* .button {
  width: 100%;
  max-width: 300px;
  align-self: flex-start;
} */

.imageButton {
  margin-bottom: 20px;
}
