.featuredProjectCards {
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seeMore {
  text-align: center;
}

@media screen and (min-width: 1000px) {

  .featuredProjectCards {
    margin: 0 12%;
  }

}