.blueBG {
  z-index: -1;
  position: absolute;
  margin-top: -5%;
  width: 100%;
}

.top {
  display: flex;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 290px;
  height: 400px;
}

.headerText{
  flex: 45%;
  justify-content: left;
  align-items: left;
  height: auto;
  flex-direction: column;
}

.graphic {
  flex: 40%;
}

.textOne {
  position: relative;
  text-align: left;
  margin-bottom: 20px;
}

.socialGoodSubText {
  text-align: left;
  color: #0069ca;
}

.textTwo {
  position: relative;
  text-align: left;
  margin-bottom: 30px;
}

.mintbtn {
  position: relative;
  width: fit-content;
  left: 0%;
  bottom: 0%;
}

.center {
  display: block;
  margin-bottom: 100px;
}

.featuredTitle {
  position: relative;
  text-align: center;
}

.featuredDescription {
  position: relative;
  width: 60%;
  margin: auto;
  text-align: center;
  padding-top: 1%;
}

@media (max-width: 1400px) {

  .headerText {
    padding-right: 0px;
  }

}

@media (max-width: 1250px) {

  .top {
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    height: 100%;
  }

  .textOne {
    width: 50vw;
    text-align: center;
  }

  .textTwo {
    width: 50vw;
    text-align: center;
  }

  .mintbtn {
    margin: auto;
    margin-bottom: 10px;
    float: none;
    bottom: 0;
  }

  .graphic {
    display: none;
  }

}

@media (max-width: 850px) {

  .blueBG {
    margin-top: -15%;
  }

  .top {
    width: auto;
    margin-top: 20%;
  }

  .textOne {
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.02em;
  }

  .socialGoodSubText {
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.02em;
  }

  .featuredDescription {
    width: 80%;
  }

}
