@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Rubik');

.blueBG {
  z-index: -1;
  position: relative;
  left: 0%;
  right: 0%;
  margin-top: -5%;
  width: 99vw;
  height: 100%;
  object-fit: cover;
}

.top {
  position: absolute;
  top: 20%;
}

.center {
  position: absolute;
  top: 93%;
}

.featuredTitle {
  position: relative;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height */

  text-align: center;
  letter-spacing: -0.02em;

  /* H4I National/Blue */

  color: #0069CA;
}

.featuredDescription {
  position:relative;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;
  width: 50%;
  margin:auto;
  text-align: center;
  padding-top: 1%;
  /* H4I National/Black */

  color: #333333;
}

/*fix overlaym*/
.textOne {
  position: relative;
  left: 19%;
  top: 30%;
  width: 550px;
  margin-left: 0%;
  /* Title */

  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.02em;
  text-align: left;

  /* H4I National/Black */

  color: #333333;
  padding-bottom: 5px;
}

.hide {
  display: none;
}

.socialGoodSubText {
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.02em;
  text-align: left;

  /* H4I National/Black */

  color: #0069ca;
}

.textTwo {
  position: relative;
  margin-top: -5%;
  left: 38%;
  top: -10%;
  bottom: 82.66%;
  width: 560px;
  /* Header 2 */

  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-align: left;

  /* H4I National/Black */

  color: #333333;
}

.graphic {
  position: relative;
  width: 380.05px;
  height: 352.73px;
  left: 145%;
  margin-right: 0%;
  margin-top: -55%;
  top: 100%;

  /* H4I National/Blue */
}

.mintbtn {
  position: relative;
  margin: 10px 10px 10px 10px;
  left: 35%;
  right: 48.81%;
  top: 63%;
  bottom: 0%;

  background-color: #80d2c8;
  color: #333333;
  border: none;
  height: 55px;
  width: 180px;
  border-radius: 100px;
  border-width: 0px;

  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;
}

.mintbtn:hover {
  background-color: #CBF9F3;
}

.mintbtn:focus,
.mintbtn:active {
  background-color: #808080;
}

@media (max-width: 1400px){
  .graphic {
    margin-right: 15%;
  }

  
  .blueBG {
    width: 100vw;
    height: 110vh;
    object-fit: cover;
  }
}

@media (max-width: 1250px){

  .top {
    top: 10%;
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
  }

  .textOne{
    width: 50vw;
    left: 25%;
    text-align: center;
  }

  .textTwo{
    width: 50vw;
    left: 50%;
    text-align: center;
  }

  .mintbtn {
    margin: auto;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
  }
  .graphic{
    display:none;
  }
}

@media (max-width:850px){

  .top {
    width: auto;
  }

  .textOne{
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.02em;
  }

  .socialGoodSubText {
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    letter-spacing: -0.02em;
  }

  .blueBG{
    width: 100vw;
    height: 100vh auto;
  }
}

@media (max-height: 500px) {
  .top {
    display: flex;
    flex-direction: column;
  }
}


