
#parentContainer {
  margin: 5% auto;
  justify-content: center;
  display: flex;
  max-width: 1100px;
}

#studentsContainer {
  flex: 50%;
  justify-content: center;
  margin: auto;
  width: auto !important;
  text-align: center;
}

#nonprofitsContainer {
  flex: 50%;
  justify-content: center;
  margin: auto auto auto 10%;
  width: auto !important;
  text-align: center;
}

#parentContainer h1 {
  text-align: center;
}

#parentContainer p {
  text-align: center;
}

@media (max-width: 1000px) {
  #parentContainer {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
    margin-bottom: 5%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: auto;
  }

  #studentsContainer {
    top: 150%;
    flex: 50%;
    justify-content: center;
    width: auto !important;
    text-align: center;
    padding-bottom: 10%;
  }

  #nonprofitsContainer {
    flex: 50%;
    justify-content: center;
    margin: auto;
    width: auto !important;
    text-align: center;
    padding-bottom: 10%;
  }

  #parentContainer .bluebtn {
    margin-top: 5%;
  }
}
