@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Rubik');

#parentContainer {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  justify-content: center;
  display: flex;
  min-height: 250px;
}

#studentsContainer {
  flex: 50%;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: relative;
}

#nonprofitsContainer {
  flex: 50%;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  position: relative;
  margin-left:  10%;
}

.textHolder {
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height:calc(100% - 55px);
}

.buttonHolder {
  height: 55px;
  width: 100%;
  bottom: 0;
  justify-content: center;
  display: flex;

}

#parentContainer .height {
  flex-grow: 1;
}

#parentContainer h1 {
  font-family: 'Karla';
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #0069ca;
}

#parentContainer p {
  color: #333333;
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;
  size: 18px;
  text-align: center;
}

#parentContainer .bluebtn {
  background-color: #0069ca;
  color: #ffffff;
  border: none;
  height: 100%;
  width: 180px;
  border-radius: 100px;
  border-width: 0px;

  font-family: 'Rubik';
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: -0.02em;
}

#parentContainer .bluebtn:hover {
  background-color: #C2E0FB;
  color: #657788;
}

#parentContainer .bluebtn:focus,
#parentContainer .bluebtn:active {
  background-color: #808080;
}

@media (max-width: 1000px){
  #parentContainer {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20%;
    margin-bottom: 5%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: auto;
  }

  #studentsContainer {
    top: 150%;
    flex: 50%;
    justify-content: center;
    width: auto !important;
    text-align: center;
    margin-bottom: 5%;
  }
  
  #nonprofitsContainer {
    flex: 50%;
    justify-content: center;
    margin: auto;
    width: auto !important;
    text-align: center;
  }

  .buttonHolder {
    margin-top: 5%;
  }
}
