#supportersContainer {
  flex: 50%;
  justify-content: center;
  width: auto !important;
  text-align: center;
  margin-top: 166px;
}

.divider {
  width: 90%;
  text-align: center;
  border-top: 4px solid #0069ca;
  line-height: 0.1em;
  max-width: 1148px;
  margin: 70px auto;
}

.divider span {
  background: rgb(255, 255, 255);
  padding: 0 15px;
  color: #0069ca;
  font-weight: 700;
  font-size: 24px;
}

.content {
  margin-bottom: 70px;
}

a {
  color: #f2594b;
  transition: color 300ms ease-out;
  font-size: 18px;
}

a:hover {
  color: #0069ca;
}

/* mobile */
#supporterLogo {
  max-width: 275px;
  margin: 50px;
}

@media screen and (min-width: 800px) {
  #supporterLogo {
    max-width: 400px;
    margin: 50px;
  }
}
